NODE_ENV='development'
DATABASE='mongodb://127.0.0.1:27017/glitch'
PORT=7777
SECRET='abcdef'
KEY='abcd'
GOOGLE_CLIENT_ID=123
GOOGLE_CLIENT_SECRET=123
PUBLIC_VAPID_KEY='abcxzy'
PRIVATE_VAPID_KEY='acbzxy'
MAIL_ID='mailto:hi@example.com'