NODE_ENV=development
DATABASE=mongodb://127.0.0.1:27017/glitch
MAIL_USER=123
MAIL_PASS=123
MAIL_HOST=mailtrap.io
MAIL_PORT=2525
PORT=7777
SECRET=abc
KEY=abcd
GOOGLE_CLIENT_ID=123
GOOGLE_CLIENT_SECRET=123