 # App port to run on
PORT=7777

# Node environment 
NODE_ENV='development'

# mongodb database credential details
DATABASE='mongodb://127.0.0.1:27017/glitch'

# cookie secret & key
SECRET='abcdef'
KEY='abcd'

# google client id & secret for auth
GOOGLE_CLIENT_ID=123
GOOGLE_CLIENT_SECRET=123

# vapid keys for webpush
PUBLIC_VAPID_KEY='abcxzy'
PRIVATE_VAPID_KEY='acbzxy'
MAIL_ID='mailto:hi@example.com'