extends layout

include mixins/_gameHeader

block header
    +gameHeader(user)

block content
    .container
        form.primary__form.py-0(action="/account" method="POST")
            div
                label.primary__form--label(for="nickname") Nickname
                input.primary__form--input#nickname(name="nickname" value=user.nickname type="text" placeholder="Daenerys" spellcheck="false" autocomplete="off" required maxlength="18")
            div
                label.primary__form--label(for="number") Mobile Number
                input.primary__form--input#number(name="number" type="text" value=user.contact placeholder="+91-XXX-XXX-XXXX" spellcheck="false" autocomplete="off" required maxlength="17")                
            div
                label.primary__form--label(for="collegeName") Name of College
                input.primary__form--input#collegeName(name="collegeName" value=user.college type="text" placeholder="College Name" spellcheck="false" autocomplete="off" required maxlength="70")
            button.primary__form--btn.my-5(type="submit") Update Account