extends layout

include mixins/_gameHeader
include mixins/_question
include mixins/_rules

block header
    +gameHeader(user)

block content
    //- pass the db levels total number
    +question(renderLevel, user, totalLevels, isEnded)
    +rules()