extends layout

include mixins/_gameHeader

block header
    +gameHeader(user)

block content
    .container.form__holder
        form.primary__form.py-3(action="/push" method="POST")
            div
                h2 Send Alert
            div.py-5
                label.primary__form--label.py-1_5.text-center(for="alertMessage") Message to send
                input.primary__form--input.text-center#alertMessage(name="alertMessage" type="text" spellcheck="false" autocomplete="off" required autofocus)                
            button.primary__form--btn.mt-30(type="submit") Send Alert