extends layout

include mixins/_gameHeader

block header
    +gameHeader(user)

block content
    .row.game__mode--holders
        .col-12.col-md-2.game__btn--holder
            a(href="/options").btn.game__mode--btns Set Levels        
        .col-12.col-md-2.game__btn--holder
            a(href="/answers").btn.game__mode--btns Set Answers   
        .col-12.col-md-2.game__btn--holder
            a(href="/modify").btn.game__mode--btns Edit Answers
        .col-12.col-md-2.game__btn--holder
            a(href="/resume").btn.game__mode--btns Resume Game
        .col-12.col-md-2.game__btn--holder
            a(href="/notify").btn.game__mode--btns Send Alert