extends layout

block content
    .row.game__mode--holders
        .col-12.col-md-3.game__btn--holder
            a(href="/modes").btn.game__mode--btns Set Mode        
        .col-12.col-md-3.game__btn--holder
            a(href="/answers").btn.game__mode--btns Set Answers   
        .col-12.col-md-3.game__btn--holder
            a(href="/modify").btn.game__mode--btns Edit Answer