extends layout

include mixins/_gameHeader
include mixins/_saveSolution

block header
    +gameHeader(user)

block content
    .container.form__holder.pmy-vh-10
        div
            h2.text-center= title
        +saveSolution(levels)
