extends layout

include mixins/_loginHeader
include mixins/_loginForm
include mixins/_glitch
include mixins/_rules

block header
    +loginHeader()

block glitch
    //- .dark__overlay
    //- #stars
    //- #stars2
    //- #stars3
    //- +glitch()

block content
    +rules()
    +loginForm()

//- block scripts
//-     script(src="/client/dist/texteffect.js")
//-     script(src="/client/dist/main.js")