mixin gameHeader(user = {})
    header#header
        nav.navbar.navbar-expand.navbar-dark.container
            a.navbar-brand(href="/play") Glitch 2.0
            .collapse.navbar-collapse#navbarNav
                ul.navbar-nav
                    if (!currentPath.startsWith('/top'))
                        li.nav-item
                            a(href="/top").nav-link Leaderboard
                                != h.icon('medal')
                    else 
                        li.nav-item
                            a(href="/play").nav-link Play
                                != h.icon('console')                        
                    if (user && user.permission > 10 && !currentPath.startsWith('/edit'))
                        li.nav-item
                            a(href="/edit").nav-link Edit Game
                                != h.icon('edit')                            
                    li.nav-item.dropdown
                        a(href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false").nav-link.dropdown-toggle#profileDropdown #{user.nickname}
                            img.user__thumbnail(src=user.photo)
                                //- != h.icon('user')
                        .dropdown-menu(aria-labelledby="profileDropdown")
                            if !currentPath.startsWith('/account/edit') 
                                a(href="/account/edit").dropdown-item Edit Profile
                            a(href="/logout").dropdown-item Logout