mixin gameHeader(user = {})
    header#header
        nav.navbar.navbar-expand-md.navbar-dark.container
            a.navbar-brand(href="/") Glitch 2.0
            button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
                        aria-expanded="false" aria-label="Toggle navigation")
                span.navbar-toggler-icon
            .collapse.navbar-collapse#navbarNav
                ul.navbar-nav
                    li.nav-item
                        a(href="#").nav-link Leaderboard
                            != h.icon('computer')
                    if (user && user.permission > 10)
                        li.nav-item
                            a(href="/edit").nav-link Edit Game
                                != h.icon('edit')                            
                    li.nav-item.dropdown
                        a(href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false").nav-link.dropdown-toggle#profileDropdown #{user.nickname}
                            img.user__thumbnail(src=user.photo)
                                //- != h.icon('user')
                        .dropdown-menu(aria-labelledby="profileDropdown")
                            if !currentPath.startsWith('/account/edit') 
                                a(href="/account/edit").dropdown-item Edit Profile
                            a(href="/logout").dropdown-item Logout