mixin loginForm() 
    section#auth
        .container.auth__holder
            .row.auth__content--head
                .col-md-5.auth__content--left
                    img.img-fluid(src="/client/dist/img/logo-compressed.png" alt="Logo")                 
                    h1 Aaroh 19            
                .col-md-4.auth__content--right
                    h1.login__glitch(data-text="Glitch") Glitch
                    if (user)
                        a(href="/play" class="google__login--btn")
                            span Continue Playing
                    else
                        a(href="/auth/google" class="google__login--btn text-center")
                            span Continue with Google 