mixin loginHeader()
    header#header
        nav.navbar.navbar-expand.container
            a.navbar-brand(href="/") Glitch 2.0
            button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
                        aria-expanded="false" aria-label="Toggle navigation")
                span.navbar-toggler-icon
            .collapse.navbar-collapse#navbarNav
                ul.navbar-nav
                    li.nav-item
                        a(href="https://www.facebook.com/aaroh19").nav-link About