mixin question(renderLevel, user)
    - const level = user.level
    .container.pt-5
        if (renderLevel == 0)
            p Game not yet started! Please come back later.
        else if (level <= renderLevel)
            h4 Level #{level}
            case level
                when 1
                    h2 What is 10+2?                
                when 2
                    h2 What is CEA in lowercase?
                when 3
                    h2 What is the name of CEA's techfest(in lowercase)?
                when 4
                    h2 1 in words(lowercase)?
                when 5
                    h2 Place where our college is situated?
                default
                    h2 Hi there, Please come back later.
        else
            p This Stage has Completed. #[br] Other sets of questions will be up soon. #[br] Follow our Facebook Page to know about the next stages.