mixin rules()
    section#information
        .container.screen__overlay--dark
            .row.justify-content-center.screen__overlay--holder
                .col-md-8.screen__overlay--inner
                    .close__btn--holder
                       a#rules__close--btn                     
                    h2 #ForTheThrone
                    ul
                        li There is no such thing as rules.
                        li #[u Anyone] can play Glitch 2.0.
                        li Solve the mystifying puzzles first and take the prize home.
                        li Trapped in the maze? Our #[u clues] will show the way.    
                        li The scoreboard decide who gets to sit on the throne.                   
                        li There will be assured prizes for both the 'Home' and 'Away' winners in the two categories.         
                        li Don't worry about #[u spaces], #[u letter cases], or any #[u special&nbspsymbols] you type in, we will take care of them for you.      
                        li If found cheating, user will be #[u banned], Oops.
                        li Follow our #[a(href="https://www.facebook.com/aaroh19" target="_blank" rel="noopener") Facebook] & #[a(href="https://www.instagram.com/aaroh19" target="_blank" rel="noopener") Instagram] Pages for the #[u hidden&nbspclues].
                        li Enquiries? Visit Aaroh19's #[a(href="https://aarohcea.com" target="_blank" rel="noopener") Website] or email us at #[a(href="mailto:glitch@aarohcea.com") glitch@aarohcea.com]