mixin rules()
    section#information
        .container.screen__overlay--dark
            .row.justify-content-center.screen__overlay--holder
                .col-md-8.screen__overlay--inner
                    h2 Quest goes from here
                    ul
                        li Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                        li Vel maxime sed perferendis ad quaerat porro, distinctio, consequatur facere repudiandae atque ut.
                        li Commodi perspiciatis autem impedit molestiae fuga temporibus minima obcaecati.                        
                        li Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                        li Vel maxime sed perferendis ad quaerat porro, distinctio, consequatur facere repudiandae atque ut.
                        li Commodi perspiciatis autem impedit molestiae fuga temporibus minima obcaecati.                        
                        li Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                        li Vel maxime sed perferendis ad quaerat porro, distinctio, consequatur facere repudiandae atque ut.
                        li Vel maxime sed perferendis ad quaerat porro, distinctio, consequatur facere repudiandae atque ut.
                        li Commodi perspiciatis autem impedit molestiae fuga temporibus minima obcaecati.                        
                        li Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                        li Vel maxime sed perferendis ad quaerat porro, distinctio, consequatur facere repudiandae atque ut.
                        li Commodi perspiciatis autem impedit molestiae fuga temporibus minima obcaecati.                        
                        li Lorem ipsum dolor, sit amet consectetur adipisicing elit.                        
                        li If found cheating, user will be banned.
                    div
                       a#rules__close--btn Lets Go                               