mixin submitAnswer()
    form.secondary__form.py-3(action="/play" method="POST")
        div
            label.secondary__form--label(for="answer") Answer
            input.secondary__form--input#answer(name="answer" type="text" spellcheck="false" autocomplete="off" required autofocus maxlength="25")    
        button.secondary__form--btn#submit__info(type="submit") Submit