.pt-20 {
    padding-top: 20px;
}
.pt-50 {
    padding-top: 50px !important;
}
.pb-50 {
    padding-bottom: 50px;
}
.scrambleSymbol {
    color: #757575;
}
.user__thumbnail {
    border-radius: 100%;
}
.alert {
    margin-bottom: 0;
}
.flash__text {
    margin-bottom: 0;
}
.flash--success {
    color: #1b1e21;
    background-color: #d6d8d9;
    border-color: #c6c8ca;
}
.flash--info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
}
.flash--error {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba
}
.py-1_5 {
    padding-top: 1.5rem !important;
}
.mt-30 {
    margin-top: 30px !important;
}
.mt-50 {
    margin-top: 50px !important;
}
.ft-16 {
    @media screen and (max-width: $screen-xs-max) {      
        font-size: 16px !important;
        svg {
            margin-left: 10px;
        }
    }
}