@import url('https://fonts.googleapis.com/css?family=Bungee+Inline|Bungee+Outline|Marcellus+SC');
@import url('https://fonts.googleapis.com/css?family=Montserrat|Poppins:400,600,700,800');

$montserrat: 'Montserrat', sans-serif;
$poppins: 'Poppins', sans-serif;
$marcellus: 'Marcellus SC', serif;
$bungee-outline: 'Bungee Outline', cursive;

$font-weight-thin:          100;
$font-weight-exlight:       200;
$font-weight-light:         300;
$font-weight-regular:       400;
$font-weight-medium:        500;
$font-weight-semibold:      600;
$font-weight-bold:          700;
$font-weight-exbold:        800;
$font-weight-black:         900;