.form__holder {
    // height: calc(9em + 66vh);
    // height: calc(3em + 70vh);
    // height: calc(11em + 67vh);
    font-family: $marcellus;   
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .level__header {
        margin-bottom: 35px;
        span {
            // font-size: 35px;
            font-size: 7vw;
            @media screen and (min-width: $screen-sm-min) {
                font-size: 4.3vw;
            }
        }
    }
    h2 {
        font-size: 20px;
    }
}