.form__holder {
    // height: calc(9em + 66vh);
    // height: calc(3em + 70vh);
    // height: calc(11em + 67vh);
    min-height: 80vh;
    font-family: $marcellus;   
    .level__header {
        .level__num {
            padding-left: 10px;
        }
        text-align: center;
        margin-bottom: 35px;
        span {
            // font-size: 35px;
            font-size: 7vw;
            @media screen and (min-width: $screen-sm-min) {
                font-size: 4.3vw;
            }
        }
    }
    h2 {
        font-size: 20px;
    }
}