#glitchHome {
    canvas {
        position: absolute;
        z-index: -1;
    }

    .play__screen--holder {
        // position: relative;
        height: 90vh;
        display: flex;
        align-items: center;

        .play__screen {
            // padding-top: calc(15em + 3vh);
            text-align: center;
            padding-top: calc(3em + 39vh);

            .play__button {
                svg, img {
                    width: 25px;
                    height: 25px;
                    margin-left: 6px;
                }
                display: inline-block;
                padding: 12px 32px;
                font-family: $marcellus;
                font-size: 1.2rem;
                font-weight: 600;
                line-height: 1.2;
                text-align: center;
                white-space: nowrap;
                vertical-align: middle;
                cursor: pointer;
                user-select: none;
                color: white;
                background-color: transparent;
                border: 1px solid white;
                border-radius: 27px;
            
                &:hover {
                    background-color: #0e0e0e;
                    border-color: #928e75 !important;
                    box-shadow: 0 0 2px rgba(255, 255, 255, .75), 0 0 14px rgba(255, 255, 255, .5), 0 0 33px rgba(255, 255, 255, .25), 0 0 55px rgba(255, 255, 255, .25);
                    color: white;
                }
                @media screen and (min-width: $screen-sm-min) {
                    font-size: 22px;
                }
            }
        }
    }
}