#glitchHome {    
    canvas {
        position: absolute;
        z-index: -1;
    }
    .play__screen--holder {
        // position: relative;
        height: 90vh;
        display: flex;
        align-items: center;
    
        .play__screen {
            text-align: center;
            // padding-top: calc(15em + 3vh);
            padding-top: calc(3em + 40vh);
            .play__button {
                font-family: $font-family-montserrat;
                font-weight: $font-weight-semibold;
                letter-spacing: 3px;
                text-transform: uppercase;            
                color: $color-white;
                font-size: 15px;
                padding: 10px 30px;
                border: 1px solid white;
                border-radius: 27px;
                // &:hover {
                //     border-bottom: 1px dotted white;
                // }
                @media screen and (min-width: $screen-sm-min) {
                    font-size: 25px;
                }
            }
        }
    }
}