#leaderboard {
    user-select: none;
    padding-top: 3em;
    .leaderboard__holder {
        display: flex;
        justify-content: center;
        align-items: center;
        .leaderboard__holder--inner {
            h2 {
                font-size: 1.2em;
            }
            .table {
                .table__head--holder {
                    .table__head--inner {
                        th {
                            text-transform: uppercase;
                        }
                    }
                }
                .table__body--holder {
                    .table__body--inner {
                        th, td {
                            vertical-align: middle;
                        }
                        td {
                            div {
                                display: flex;
                                align-items: center;
                                img, svg {
                                    width: 30px;        
                                    height: 30px;                                            
                                    border-radius: 100%;                    
                                }
                                p {
                                    margin-bottom: 0;
                                    padding-left: 10px;
                                    a {
                                        color: white;
                                        &:hover {
                                            border-bottom: 1px dotted white;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}